/*
Authors: Jeremy Bader, Camden Wagner
*/

html{
    /* This image will be displayed fullscreen */
    background:url("../img/Piano-Keys.jpg") no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;
    background-size:cover;
}